<html>
	<head></head>
	<body>
		<style>
		@media screen and (max-device-width: 480px){
			img{
				max-width:100%;
				height:auto;
			}
		}
		
		body {
			background-color: black;
			color: white;
		}
		</style>
		{{{yield}}}
	</body>
</html>