<table>
	<tr>
		<td><a href="{{prev}}">prev</a></td>
		<td><a href="{{up}}">up</a></td>
		<td><a href="{{next}}">next</a></td>
	</tr><tr>
		<td colspan="3"><a href="{{next}}"><img src="{{image}}"/></a></td>
	</tr><tr>
		<td><a href="{{prev}}">prev</a></td>
		<td><a href="{{up}}">up</a></td>
		<td><a href="{{next}}">next</a></td>
	</tr>
	{{#resize_link}}
	<tr>
		<td colspan="3"><a href="{{href}}">{{title}}</a></td>
	</tr>
	{{/resize_link}}
</table>